<svg xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 962.745 954.843">
    <defs>
        <style>
            .cls-1,
            .cls-6,
            .cls-7{
                fill:none
            }
            .cls-2{
                clip-path:url(#clip-path)
            }
            .cls-3{
                fill:rgba(0,0,0,.25);
                opacity:.246;
            }
            .cls-4{
                fill:url(#linear-gradient)
            }
            .cls-5{
                opacity:.085
            }
            .cls-6,
            .cls-7,
            .cls-8{
                stroke:#000;
                stroke-width:3px
            }
            .cls-6,
            .cls-7{
                stroke-linecap:round
            }
            .cls-6{
                stroke-linejoin:round
            }
        </style>
        <clipPath id="clip-path">
            <path d="M0 0h962.745v954.843H0z" class="cls-1"/>
        </clipPath>
        <linearGradient id="linear-gradient" x1=".839" x2=".046" y1=".944" gradientUnits="objectBoundingBox">
            <stop offset="0"/>
            <stop offset=".274" stop-color="#232323"/>
            <stop offset=".49" stop-color="#3b3b3b"/>
            <stop offset="1" stop-color="#545454"/>
        </linearGradient>
    </defs>
    <g id="Symbol_5_6" class="cls-2" data-name="Symbol 5 – 6">
        <path id="Path_49" d="M623.543 426.781h336.393v897.163A687.371 687.371 0 0 1 689.5 1379C308.7 1379 0 1070.3 0 689.5a687.251 687.251 0 0 1 52.049-263.279l461.58.033z" class="cls-3" data-name="Path 49" transform="translate(0 -424.157)"/>
        <path id="Path_48" d="M647.648 431.295l293.461-.4v834.219A669.321 669.321 0 0 1 663 1326C296.835 1326 0 1029.165 0 663a661.021 661.021 0 0 1 41.614-231.705h606.034z" class="cls-4" data-name="Path 48" transform="translate(19 -429.157)"/>
        <g id="OBJECTS" class="cls-5" transform="translate(221 -149.956)">
            <path id="Line_19" d="M101.292 7.412L0 0" class="cls-6" data-name="Line 19" transform="translate(12.773 495.439)"/>
            <path id="Line_20" d="M76.587 0L0 123.527" class="cls-6" data-name="Line 20" transform="translate(37.478 502.851)"/>
            <path id="Path_152" d="M-67.739 124.378l-82.916 158.909" class="cls-7" data-name="Path 152" transform="translate(122.366 29.372)"/>
            <path id="Path_126" d="M-128.032 272.047l356.577-159.273z" class="cls-6" data-name="Path 126" transform="translate(98.11 42.299)"/>
            <path id="Path_127" d="M-94.553 214.432L46.16 381.745l71.077 91.978 94.449-161.153z" class="cls-6" data-name="Path 127" transform="translate(67.905 121.106)"/>
            <path id="Path_128" d="M79.25 753.479l170.245-24.36 80.96 45.038 258.838-43.926 32.455-410.487-90.612-141.555-57.594-67.431" class="cls-6" data-name="Path 128" transform="translate(116.565 43.02)"/>
            <path id="Path_130" d="M317.392 390.49L285.7 310.172h31.692" class="cls-6" data-name="Path 130" transform="translate(420.158 463.079)"/>
            <path id="Path_131" d="M180.93 389.391L334.672 285.06l105.1 60.4" class="cls-6" data-name="Path 131" transform="translate(266.089 427.787)"/>
            <path id="Path_132" d="M337.515 244.041l-65.355-7.571 65.609-87.077" class="cls-6" data-name="Path 132" transform="translate(400.247 221.911)"/>
            <path id="Path_133" d="M41.52 783.454l83.455-82.738-.914-201.67 180.917 177.311-86.469-338.464L259.94 59.29l326.68 66.136 90.09-35.363" class="cls-6" data-name="Path 133" transform="translate(61.081 95.783)"/>
            <path id="Line_22" d="M0 72.041L247.474 0" class="cls-6" data-name="Line 22" transform="translate(366.06 712.847)"/>
            <path id="Path_134" d="M111.89 169.44L226.2 336.5l-24.7 177.877" class="cls-6" data-name="Path 134" transform="translate(164.563 257.763)"/>
            <path id="Path_135" d="M156.36 304.19l7.263-5.435L307.458 191.41 370.8 422.776z" class="cls-6" data-name="Path 135" transform="translate(229.958 290.071)"/>
            <path id="Path_136" d="M284.485 287.51L169.16 126.06l254.466 138.35" class="cls-6" data-name="Path 136" transform="translate(248.781 193.971)"/>
            <path id="Path_137" d="M346.325 387.859l134.99-23.1-24.706-237.171-229.76 98.822L129.93 57.82" class="cls-6" data-name="Path 137" transform="translate(191.092 93.621)"/>
            <circle id="Ellipse_26" cx="15.89" cy="15.89" r="15.89" class="cls-8" data-name="Ellipse 26" transform="rotate(-20.77 830.674 320.555)"/>
            <circle id="Ellipse_27" cx="23.89" cy="23.89" r="23.89" class="cls-8" data-name="Ellipse 27" transform="rotate(-19.45 2551.124 -1591.005)"/>
            <path id="Path_154" d="M39.051 17.4s-1.6 9.183-4.441 13.2c-3.409 4.822-8.938 8.388-15.118 8.388-5.264 0-10.206-2.832-14.085-7.093C1.77 27.9-.688 17.4-.688 17.4z" class="cls-8" data-name="Path 154" transform="translate(301.529 135.58)"/>
            <circle id="Ellipse_30" cx="19.493" cy="19.493" r="19.493" class="cls-8" data-name="Ellipse 30" transform="translate(427.527 797.685)"/>
            <path id="Path_138" d="M66.535 207.663a12.773 12.773 0 1 1-12.772-12.773 12.773 12.773 0 0 1 12.773 12.773z" class="cls-8" data-name="Path 138" transform="translate(60.302 295.188)"/>
            <path id="Path_139" d="M282.535 93.663a12.773 12.773 0 1 1-12.772-12.773 12.773 12.773 0 0 1 12.772 12.773z" class="cls-8" data-name="Path 139" transform="translate(377.939 127.547)"/>
            <path id="Path_140" d="M133.535 179.663a12.773 12.773 0 1 1-12.773-12.773 12.773 12.773 0 0 1 12.773 12.773z" class="cls-8" data-name="Path 140" transform="translate(158.828 254.013)"/>
            <path id="Path_141" d="M304.753 165.691c.247-.285-5.058-2.04-6.739-4.434-1.157-1.547-3.024-6.4-3.024-8.594 0-2.476 1.239-4.834 3.024-7.081a29.832 29.832 0 0 1 6.739-5.892c-.291.179-.359 26.41 0 26.001z" class="cls-8" data-name="Path 141" transform="translate(433.819 214.308)"/>
            <path id="Path_142" d="M292.535 189.663a12.773 12.773 0 1 1-12.773-12.773 12.773 12.773 0 0 1 12.773 12.773z" class="cls-8" data-name="Path 142" transform="translate(392.644 268.718)"/>
            <path id="Path_143" d="M189.535 133.663a12.773 12.773 0 1 1-12.773-12.773 12.773 12.773 0 0 1 12.773 12.773z" class="cls-8" data-name="Path 143" transform="translate(241.178 186.368)"/>
            <path id="Path_146" d="M178.535 244.663a12.773 12.773 0 1 1-12.773-12.773 12.773 12.773 0 0 1 12.773 12.773z" class="cls-8" data-name="Path 146" transform="translate(225.003 349.598)"/>
            <path id="Path_148" d="M35.535 257.663a12.773 12.773 0 1 1-12.772-12.773 12.773 12.773 0 0 1 12.772 12.773z" class="cls-8" data-name="Path 148" transform="translate(14.715 368.715)"/>
            <path id="Path_149" d="M25.535 204.663a12.773 12.773 0 1 1-12.772-12.773 12.773 12.773 0 0 1 12.772 12.773z" class="cls-8" data-name="Path 149" transform="translate(.01 290.776)"/>
            <circle id="Ellipse_33" cx="20.777" cy="20.777" r="20.777" class="cls-8" data-name="Ellipse 33" transform="rotate(-47.88 797.98 -330.702)"/>
            <circle id="Ellipse_36" cx="20.777" cy="20.777" r="20.777" class="cls-8" data-name="Ellipse 36" transform="rotate(-46.62 1057.825 354.994)"/>
            <path id="Path_150" d="M263.535 292.663a12.773 12.773 0 1 1-12.773-12.773 12.773 12.773 0 0 1 12.773 12.773z" class="cls-8" data-name="Path 150" transform="translate(349.998 420.184)"/>
            <circle id="Ellipse_40" cx="9.783" cy="9.783" r="9.783" class="cls-8" data-name="Ellipse 40" transform="translate(176.273 786.716)"/>
            <path id="Path_151" d="M168.535 316.663a12.773 12.773 0 1 1-12.773-12.773 12.773 12.773 0 0 1 12.773 12.773z" class="cls-8" data-name="Path 151" transform="translate(210.297 455.477)"/>
            <circle id="Ellipse_42" cx="19.493" cy="19.493" r="19.493" class="cls-8" data-name="Ellipse 42" transform="translate(165.65 575.336)"/>
        </g>
    </g>
</svg>
