footer.footer
  .container.footer__row
    .footer__col
      .footer__copyright
        |© 2018 «LoremIpsum.net» Все права защищены.
    .footer__col
      +linksGroup([{icon: {url: 'assets/img/icons/symbol/sprite', id:'icon-qiwi'}, text:'Qiwi wallet'},{icon: {url: 'assets/img/icons/symbol/sprite', id:'icon-yandex-money'}, text:'Yandex Money'}, {icon: {url: 'assets/img/icons/symbol/sprite', id:'icon-webmoney'}, text:'Web Money'}, ])
    .footer__col
      +linksGroup([{icon: {url: 'assets/img/icons/symbol/sprite', id:'icon-envelope'}, text:'info@ipsum228.com'},{icon: {url: 'assets/img/icons/symbol/sprite', id:'icon-vk'}, text:'Yandex Money'} ])
