form.form(action="#")
  .form__group
    .f-select.form__select
      .f-select__btn
        .f-select__txt Выберите тип системы
        +svg('assets/img/icons/symbol/sprite', 'icon-arrow-down')(class='f-select__toggle ')
      ul.f-select__list
        each sItem in [{id: 1, text:'Sed ut perspiciatis'}, {id: 2, text: 'Nemo enim ipsam'}, {id: 3, text:'Et harum quidem'},{id: 4, text:'Temporibus autem'}, {id: 5, text: 'Itaque earum rerum'}, {id: 6, text: 'Itaque earum rerum'}, {id: 7, text: 'Itaque earum rerum'}, {id: 8, text: 'Itaque earum rerum'} ]
          li.f-select__item
            input(type="radio" name="radio" id=`radio_${sItem.id}`).f-select__item-radio
            label(for=`radio_${sItem.id}`).f-select__item-label= sItem.text
  .form__group
    input(type="email" name="email" placeholder="Ваш e-mail" required).form__input.form-label
  .form__group
    input(type="text" name="name" placeholder="Ваше имя" required).form__input.form-label
  .form__group.form__group--range
    label.form__label.form__label--range(for="range")
      |Sed ut perspiciatis, unde omnis iste natus
      span.form__label-percent 75 %
    input(type="range" name="range" id="range").form__input.form-label
  .form__group
    input(type="file" name="file" id="upload").form__input.form__input--upload
    label(for="upload").form__label.form__label--upload
      +svg('assets/img/icons/symbol/sprite', 'icon-file-1')(class='form__label-icon')
      |Прикрепить файл
  .form__bottom
    button.button.button--blue.button--blue-lg.form__button Отправить
