header.header
  .container.header__inner
    .logo.header__logo
    .nav.hedaer__nav
      ul.nav__list
        li.nav__item
          a.nav__link(href="/") Бизнес
        li.nav__item
          a.nav__link(href="/") О нас
        li.nav__item
          a.nav__link(href="/") Цены
        li.nav__item
          a.nav__link(href="/") Оформить заказ
