header.header
  .container.header__inner
    a(href="/").logo.header__logo
      span.logo__text LoremIpsum.
      span.logo__text.logo__text--blue Net
    .nav.header__nav
      ul.nav__list
        li.nav__item
          a.nav__link.nav__link--active(href="/") Бизнес
        li.nav__item
          a.nav__link(href="/") О нас
        li.nav__item
          a.nav__link(href="/") Цены
        li.nav__item
          a.nav__link(href="/") Оформить заказ
