div.popups
    div.popup#done
        div.popup__overlay
        div.popup__container
            .done
                .done__icon
                    img(src="assets/img/icons/icon-done.svg", alt="").done__icon-file
                .done__title The message was sent!
                .done__desc Thank you for contact us. We will get back to you as soon as possible.
                a(href="#").button.button--blue.done__btn.js-popup-close Done
