.f-select {
	$s: &;
	position: relative;
	font-size: 1.8rem;
	line-height: 2.2rem;

	&--opened {
		#{$s}__btn {
			border-radius: 0.3rem 0.3rem 0 0;
			background-color: #3d4050;
			border-color: #3d4050;
		}

		#{$s}__toggle {
			fill: #ffffff;
		}

		#{$s}__txt {
			color: #ffffff;
		}
		#{$s}__list {
			visibility: visible;
			opacity: 1;
		}
	}

	&__btn {
		position: relative;
		display: flex;
		padding: 1.2rem 1.6rem;
		border-radius: 0.3rem;
		border: 1px solid #ffffff;
		background-color: #ffffff;
		transition: border-color 0.4s, background-color 0.4s;
		cursor: pointer;
	}

	&__txt {
		color: #272733;
		transition: color 0.4s;
	}

	&__toggle {
		position: absolute;
		top: 51%;
		right: 2rem;
		width: 2.4rem;
		height: 2.4rem;
		fill: #272733;
		transform: translate3d(0, -50%, 0);
		transition: fill 0.4s;
	}

	&__list {
		position: absolute;
		top: calc(100% - 0.1rem);
		right: 0;
		left: 0;
		max-height: 18rem;
		padding: 0.5rem 0;
		border-radius: 0 0 0.3rem 0.3rem;
		border: 1px solid #3d4050;
		background-color: #272733;
		overflow-y: auto;
		visibility: hidden;
		opacity: 0;
		transition: visibility 0.4s, opacity 0.4s;

		&::-webkit-scrollbar {
			width: 0.7rem;
		}

		&::-webkit-scrollbar-track {
			border-radius: 0.3rem;
			background-color: #3d4050;
		}

		&::-webkit-scrollbar-thumb {
			border-radius: 0.3rem;
			background-color: #3e9cdc;
		}
	}

	&__item {
		$i: &;
		position: relative;

		&-label {
			width: 100%;
			display: inline-block;
			padding: 0 1.6rem;
			color: #ffffff;
			font-size: 1.8rem;
			line-height: 3.4rem;
			transition: color 0.4s;
			cursor: pointer;

			&:hover {
				color: #42a9ed;
			}
		}

		&-radio {
			position: absolute;
			left: -10000px;
			top: auto;
			width: 1px;
			height: 1px;
			overflow: hidden;

			&:checked + #{$i}-label {
				color: #42a9ed;
			}
		}
	}
}
