.s-desc {
	color: #2a2b30;
	font-family: Lato;
	font-size: 2rem;
	line-height: 3.4rem;

	@media screen and (max-width: 47.94em) {
		font-size: 1.4rem;
		line-height: 1.8rem;
	}

	&__title {
		@media screen and (max-width: 47.94em) {
			margin-bottom: 1.2rem;
		}
	}

	&__list {
		display: flex;
		flex-direction: column;
	}

	&__item {
		display: flex;
		align-items: center;
		font-weight: 400;

		@media screen and (max-width: 47.94em) {
			align-items: flex-start;
			margin-bottom: 1rem;
		}

		&::before {
			content: '-';
			display: inline-block;
			padding-right: 0.5rem;
		}
	}
}
