.s-main {
	max-height: 85rem;
	background: url(../img/welcome-bg.png) no-repeat center;
	background-size: cover;

	&__content {
		max-width: 75.2rem;
		padding: 14.5rem 0 19rem;

		@media screen and (max-width: 47.94em) {
			padding: 12rem 0 15rem;
		}
	}

	&__title {
		margin-bottom: 5.4rem;

		@media screen and (max-width: 75em) {
			margin-bottom: 3.4rem;
		}
	}

	&__desc {
		margin-bottom: 7.6rem;

		@media screen and (max-width: 75em) {
			margin-bottom: 5.6rem;
		}

		@media screen and (max-width: 47.94em) {
			margin-bottom: 2.6rem;
		}
	}

	&__buttons {
	}
}
