.s-order {
	position: relative;
	padding: 12rem 0 13.4rem;
	background-color: #272733;

	@media screen and (max-width: 47.94em) {
		padding: 8rem 0;
	}

	&::after {
		content: '';
		position: absolute;
		top: 0;
		right: 0;
		left: 0;
		bottom: 0;
		display: inline-block;
		background: url(../img/bg-map.png) no-repeat center;
		background-size: cover;
		// opacity: 0.1;
		z-index: 0;
	}

	&__inner {
		position: relative;
		display: flex;
		flex-direction: column;
		z-index: 1;
	}

	&__top {
		text-align: center;
	}

	&__title {
		margin-bottom: 2rem;

		@media screen and (max-width: 47.94em) {
			margin-bottom: 2rem;
		}
	}

	&__desc {
		color: #bbbbbb;
		font-size: 1.8rem;
		line-height: 2.2rem;

		@media screen and (max-width: 47.94em) {
			font-size: 1.6rem;
			line-height: 2rem;
		}
	}

	&__workflow {
		margin: 8rem 0 13.2rem;

		@media screen and (max-width: 75em) {
			margin: 8rem 0rem;
		}

		@media screen and (max-width: 47.94em) {
			margin: 6rem 0;
		}
	}

	&__form {
		position: relative;
		z-index: 1;
	}
}
