.workflow {
	display: flex;
	justify-content: space-between;

	&__item {
		$wi: &;
		position: relative;
		display: flex;
		flex-direction: column;
		align-items: center;

		&:nth-child(2) {
			#{$wi}-dots {
				right: -10.4rem;
			}
		}

		&:nth-child(3) {
			#{$wi}-dots {
				right: -9.6rem;
			}
		}

		&:nth-child(4) {
			#{$wi}-dots {
				right: -11.6rem;
			}
		}
	}

	&__item-icon {
		display: flex;
		align-items: center;
		justify-content: center;
		width: 10rem;
		height: 10rem;
		min-height: 10rem;
		margin-bottom: 2rem;
		border: 5px solid #286690;
		border-radius: 50%;
		background-color: #3e9cdc;

		svg {
			width: 3.6rem;
			height: 3.8rem;
			fill: #ffffff;
		}
	}

	&__item-text {
		color: #ffffff;
		font-size: 1.6rem;
		font-weight: 400;
		line-height: 2rem;
		text-align: center;
	}

	&__item-dots {
		position: absolute;
		top: 4.8rem;
		right: -120px;
	}
}
