mixin svg(svg_url, svg_id)
    svg()&attributes(attributes)
      use(xlink:href=`${svg_url}.svg#${svg_id}`)

mixin linksGroup(links)
  .links-group
    each link in links
      a(href="/").links-group__link
        +svg(link.icon.url, link.icon.id)
        = link.text
