extends ../pug/layout.pug


block content
    section.s-main
        .container
            .s-main__content
                h1.h1.s-main__title
                    span.h1--blue Lorem ipsum&nbsp;
                    span.h1--dark dolor sit amet consectetur&nbsp;
                    span.h1--blue adipiscing
                .s-desc.s-main__desc
                    h3.h3.s-desc__title At vero eos et accusamus et iusto odio dignissimos ducimus!
                    ul.s-desc__list
                        li.s-desc__item Totam rem aperiam eaque ipsa
                        li.s-desc__item Sit voluptatem accusantium doloremque laudantium
                        li.s-desc__item Sed ut perspiciatis, unde omnis iste natus error

                .buttons-group.s-main__buttons
                    button.button.button--blue.buttons-group__item Заказать
                    button.button.button--white.buttons-group__item Подробнее
    section.s-order
        .container.s-order__inner
            .s-order__top
                h2.h2.s-order__title
                    span.h2--white Оформление&nbsp;
                    span.h2--blue Заказа
                p.s-order__desc Перед заполнением формы ознакомьтесь с нашей схемой работы!
            .s-order__workflow
                .workflow
                    .workflow__item
                        span.workflow__item-icon
                            +svg('assets/img/icons/symbol/sprite', 'icon-search')
                        span.workflow__item-text Lorem ipsum dolor<br/> sit amet
                        span.dots.workflow__item-dots
                            +svg('assets/img/icons/symbol/sprite', 'icon-dot')(class="dots__item")
                            +svg('assets/img/icons/symbol/sprite', 'icon-dot')(class="dots__item")
                            +svg('assets/img/icons/symbol/sprite', 'icon-dot')(class="dots__item")
                            +svg('assets/img/icons/symbol/sprite', 'icon-dot')(class="dots__item")
                            +svg('assets/img/icons/symbol/sprite', 'icon-dot')(class="dots__item")
                    .workflow__item
                        span.workflow__item-icon
                            +svg('assets/img/icons/symbol/sprite', 'icon-percent')
                        span.workflow__item-text Сonsecteturadipiscing elit
                        span.dots.workflow__item-dots
                            +svg('assets/img/icons/symbol/sprite', 'icon-dot')(class="dots__item")
                            +svg('assets/img/icons/symbol/sprite', 'icon-dot')(class="dots__item")
                            +svg('assets/img/icons/symbol/sprite', 'icon-dot')(class="dots__item")
                            +svg('assets/img/icons/symbol/sprite', 'icon-dot')(class="dots__item")
                            +svg('assets/img/icons/symbol/sprite', 'icon-dot')(class="dots__item")
                    .workflow__item
                        span.workflow__item-icon
                            +svg('assets/img/icons/symbol/sprite', 'icon-file')
                        span.workflow__item-text Sed do eiusmod tempor
                        span.dots.workflow__item-dots
                            +svg('assets/img/icons/symbol/sprite', 'icon-dot')(class="dots__item")
                            +svg('assets/img/icons/symbol/sprite', 'icon-dot')(class="dots__item")
                            +svg('assets/img/icons/symbol/sprite', 'icon-dot')(class="dots__item")
                            +svg('assets/img/icons/symbol/sprite', 'icon-dot')(class="dots__item")
                            +svg('assets/img/icons/symbol/sprite', 'icon-dot')(class="dots__item")
                    .workflow__item
                        span.workflow__item-icon
                            +svg('assets/img/icons/symbol/sprite', 'icon-envelope')
                        span.workflow__item-text Esse cillum dolore <br/>eu fugiat
                        span.dots.workflow__item-dots
                            +svg('assets/img/icons/symbol/sprite', 'icon-dot')(class="dots__item")
                            +svg('assets/img/icons/symbol/sprite', 'icon-dot')(class="dots__item")
                            +svg('assets/img/icons/symbol/sprite', 'icon-dot')(class="dots__item")
                            +svg('assets/img/icons/symbol/sprite', 'icon-dot')(class="dots__item")
                            +svg('assets/img/icons/symbol/sprite', 'icon-dot')(class="dots__item")
                    .workflow__item
                        span.workflow__item-icon
                            +svg('assets/img/icons/symbol/sprite', 'icon-money')
                        span.workflow__item-text Excepteur sint occaecat<br/> cupidatat non proident

        .s-order__form
                include ../pug/blocks/form
